*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}
.main-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    left:0;
    z-index:100;
    padding:25px 40px 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid rgb(218, 218, 218);
    box-shadow: 2px 2px 10px 5px rgb(184, 184, 184);
}
.main-header .logo{
    font-size:22px;
    color: #00A885;
    font-weight: 700;
}
.main-menu{
    width:30%;
    display: flex;
    justify-content: space-evenly;
}
.main-menu a{
    text-decoration: none;
    color: black;
    font-size:16px;
}
#hamburger{
    display: none;
}
/*********** Profile Detail Section Left ***********/

.prof-detail{
    display: flex;
    padding:40px 50px;
}

.prof-img{
    width:250px;
    height: 250px;
    margin-bottom:30px;
}
.prof-img>img{
    width:100%;
    height: 100%;  
    background-size: cover;
    object-fit: contain;
}

.prof-qual .prof-qual-head{
    font-size: 14px;
    color: #00A885;
    position: relative;
}
.prof-qual-head::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 100px;
    right: 0;
    height: 1px;
    background-color: #a6d2c9;
    /* border-top: 1px solid black; */
    z-index: -1;
}

.prof-qual-item{
    margin:25px 0;
    color: rgb(105, 105, 105);
}
.prof-qual-item>h2{
    font-size: 16px;
    color: rgb(41, 41, 41);
}
.course-det{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    font-size: 14px;
}
.course-det>div{
    display: flex;
    align-items: center;
}
.course-det>div>h3{
    margin-right:8px;
}
.prof-skill .prof-skill-head{
    font-size: 14px;
    color: #00A885;
    position: relative;
}
.prof-skill-head::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 0;
    height: 1px;
    background-color: #b5cfca;
    /* border-top: 1px solid black; */
    z-index: -1;
}
.prof-skill-item>h3{
    margin:15px 0;
    font-size: 16px;
    color: rgb(96, 96, 96);
    font-weight: 700;
}



/*********** Profile Detail Section Right ***********/

.prof-right{
    padding:0 40px;
    width:100%;  
}
.basic-detail>h2{
    font-size: 32px;
}   
.report-query{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.report-query>i{
    color:#00A885;
}
.report-query>a{
    margin-left:5px;
    font-size:15px;
    color: #00A885;
}


.prof-info-list{
    margin-top:50px;
    display: block;
}
.prof-info-tab{
    border-bottom: 1px solid #00a8869e;
    padding:5px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.prof-info-tab>a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-right: 40px;
    margin-bottom:10px;
    display: block;
}

.create-head-wrap{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #00A885;
    position: relative;
    margin-bottom:25px;
}
.create-head-wrap>a{
    text-decoration: none;
    color: #00A885;
}
.pd-info-item .pd-info-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #00A885;
    position: relative;
    margin-bottom:25px;
}


.pd-info-item{
    margin:25px 0;
    color: rgb(105, 105, 105);
}
.pd-info-item>h2{
    font-size: 16px;
    color: rgb(41, 41, 41);
}

.pd-info-text{
    margin:10px 0;
    font-size: 14px;
}
.pd-info-text>div{
    display: flex;
    align-items: center;  
    margin-top:12px;
}
.pd-info-text>div>h3{
    margin-right: 10px;
}

.prof-tab-links.active{
    color:#00A885;
    padding:10px;
    border-bottom: 1px solid #007d6454;
    box-shadow: 2px 2px 5px 5px rgba(219, 219, 219, 0.516);
}
.prof-tab-content{
    display: none;
}

#experience-container {
    display: flex;
    flex-wrap: wrap;
}
.exp-info-text{
    width: 350px;
    box-shadow: 1px 1px 10px 5px rgba(224, 224, 224, 0.518);
    padding:30px 30px 30px 20px;
    border-radius: 5px;
    margin:0 15px 10px 0;
}
.prof-exp-item>h2{
    font-size:18px;
    margin-bottom: 15px;
}
.exp-inner-wrap{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
}
.exp-inner-wrap>div{
    display: flex;
    align-items: center;
}
.exp-inner-wrap>div>h3{
    font-size:15px;
    font-weight: 700;
    margin-right: 8px;
}
.exp-inner-wrap>div>span{
    font-size:14px;
}

/********** ADD EXPERIENCE FORM *********/
#create-exp-modal{
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color: #28282853;
    /* transform: translate(-50%, -50%); */
    display: none;
    z-index:999;
}
.create-exp-form{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 450px;
    z-index:9999;
    padding:40px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.create-modal-head{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.create-modal-head>a{
    display: block;
}
.create-modal-head>h2{
    font-size:25px;
    padding-bottom:30px;
    color: #00A885;
}
.create-exp-form .form-control{
    margin-bottom: 15px;
}
.create-exp-form .form-control>label{
    font-size:14px;
    color: black;
}
.create-exp-form .form-control>input{
    width:100%;
    padding:8px;
    outline: none;
    border: 1px solid rgba(220, 220, 220, 0.913);
    border-radius: 5px;
    margin-top:3px;
}
.add-exp-btn{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background-color: #00A885;
    margin:10px 0;
}

#exp-error-msg{
    color: red;
}

@media (max-width: 720px) {
    .prof-detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 40px 20px;
    }
    .prof-right {
        padding: 0 0px;
        width: 100%;
    }
    .main-menu{
        display: none;
    }
    .main-menu.showHamburger{
        display: block;
        position: absolute;
        top:70px;
        right: 0;
        width:280px;
        height:80vh;
        background-color: #000000cf;
        color: #fff;
        padding:10px 0;
    }
    .main-menu>div{
        padding:20px 10px;
        border-bottom: 1px solid #fff;
    }
    .main-menu a{
        color: #fff;
    }
    #hamburger{
        display: block;
        cursor: pointer;
    }
    #create-exp-modal{
        width: 300px;
    }
    .create-exp-form{
        padding:40px 25px;
    }
    .create-modal-head>h2{
        font-size:20px;
    }
}
  





/************ STUDENT FORM CSS ***********/
#placement-container {
    display: flex;
    flex-wrap: wrap;
}
#create-plac-modal{
    position: absolute;
    top:0%;
    left:0;
    width:100%;
    height:100%;
    background-color: #28282853;
    /* transform: translate(-50%, -50%); */
    display: none;
    z-index:999;
}
.student-form{
    
    position:fixed;
            
    top:50%;
    left:50%;
    width:600px; /* Change as your requirement */
    transform:translate(-50%, -50%);
    z-index:9999;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  
  .student-form .form-title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }
  .student-form .form-title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #00634f, #009274);
  }
  .form-content form .fuser-details{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin: 20px 0 12px 0;
  }
 .finput-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;        
 }
  form .fuser-details .finput-box{
    /* display: flex;
    justify-content: space-between; */
    min-width: 260px;
    margin-right: 5px;
    margin-bottom: 15px;
    /* width: calc(100% / 2 - 20px); */
  }
  .finput-box>label{
    display: block;
    padding:8px 15px;
    background-color: #00927590;
    color: #fff;
    border-radius: 15px;
  }
  .finput-box>label>i{
    margin-right: 10px;
  }
  form .finput-box span.form-details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .fuser-details .finput-box input{
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .fuser-details .finput-box input:focus,
  .fuser-details .finput-box input:valid{
    border-color: #9b59b6;
  }
   form .fgender-details .fgender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .form-category{
     display: flex;
     width: 80%;
     margin: 14px 0;
   }
   form .form-category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   
   form .form-button{
     height: 45px;
     margin: 25px 0
   }
   form .form-button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #00634f, #009274);
   }
   form .form-button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #3cffd8, #0d5b4c);
    }

    .plac-form-attached{
        color:green;
      }
      #plac-error-msg{
        color: red;
      }
   @media(max-width: 584px){
    .student-form { 
        width: 330px;
    }
    .fuser-details .finput-box input {
        height: 35px;
        font-size: 13px;
        padding-left: 10px;
    }
   form .finput-box span.form-details {
        font-size: 13px;
    }
  form .fuser-details .finput-box{
      margin-bottom: 15px;
      width: 100%;
    }
    .finput-box>label {
        padding: 5px 16px;
    }
    .finput-box>label>span{
        font-size: 13px;
    }
    form .form-button {
        height: 38px;
        margin: 20px 0;
    }
    form .form-category{
      width: 100%;
    }
    .form-content form .fuser-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .fuser-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .student-form .form-content .form-category{
      flex-direction: column;
    }
  }
  
  